In [5]:
#Data science
#Panda

#Series sequence of Numbers/Data
#Dataframe

import pandas
import numpy as np
s=pandas.Series(np.random.random(5),index=['a','b','c','d','e'])
print(s)

a    0.091719
b    0.628612
c    0.094061
d    0.942928
e    0.564870
dtype: float64

In [6]:
s.index  #check

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
pandas.Series(np.random.randn(5))

0   -0.080171
1    0.100485
2   -0.569187
3    0.583813
4    0.115901
dtype: float64

In [8]:
#create series from dictionary
d={'a':0., 'b': 1.,'c': 2.}
pandas.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [9]:
pandas.Series(d, index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [10]:
#scalar values or list or tuple
D=[1,2,3,4,5,6,7]
s=pandas.Series(D)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [12]:
index=['a','b','c','d','e','f','g']
s1=pandas.Series(D,index)
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [13]:
Data=[[2,3,4],[5,6,7]]
sn=pandas.Series(Data)
sn

0    [2, 3, 4]
1    [5, 6, 7]
dtype: object

In [16]:
#create a series from following: V=[1,2,3,4,5,6] I=['a','b','c','d','e','f']
v=[1,2,3,4,5,6]
i=['a','b','c','d','e','f']
s7=pandas.Series(v,i)
s7

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [17]:
s6=pandas.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])
s6

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [20]:
# Dataframe
d={'one':pandas.Series([1,2,3],index=['a','b','c']),'two':pandas.Series([1,2,3,4],index=['a','b','c','d']),'three':pandas.Series([5,6],index=['a','b'])}
df=pandas.DataFrame(d)
df

   one  two  three
a  1.0    1    5.0
b  2.0    2    6.0
c  3.0    3    NaN
d  NaN    4    NaN

In [21]:
#check specified index
pandas.DataFrame(d,index=['d','b','a'])

   one  two  three
d  NaN    4    NaN
b  2.0    2    6.0
a  1.0    1    5.0

In [22]:
d={'one':[1.,2.,3.,4.], 'two':[4.,7.,8.,2.]}
pandas.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  7.0
2  3.0  8.0
3  4.0  2.0

In [25]:
#create a dtaframe from the following dict1={'a':1,'b':2,'c':3,'d':4}  dict2={'a':7,'b':8,'c':6,'d':9}
dict1={'a':1,'b':2,'c':3,'d':4}
dict2={'a':7,'b':8,'c':6,'d':9}
data={'first':dict1, 'second':dict2}
df=pandas.DataFrame(data)
df

   first  second
a      1       7
b      2       8
c      3       6
d      4       9

In [26]:
#data frame from 3 series
s1=pandas.Series([1,2,3,4,5,2,9])
s2=pandas.Series([1,2,3,4,5,2,9,5,4,9,6,7])
s3=pandas.Series(['a','b','c','d','e'])
data={'first':s1,'second':s2,'third':s3}
df=pandas.DataFrame(data)
df

    first  second third
0     1.0       1     a
1     2.0       2     b
2     3.0       3     c
3     4.0       4     d
4     5.0       5     e
5     2.0       2   NaN
6     9.0       9   NaN
7     NaN       5   NaN
8     NaN       4   NaN
9     NaN       9   NaN
10    NaN       6   NaN
11    NaN       7   NaN

In [27]:
#data frame from 2D array
d1=[[1,4,7],[8,3,5]]
d2=[[9,4,7],[6,3,5]]
d3=[[3,4,6],[8,3,1]]
data={'first':d1,'second':d2,'third':d3}
df=pandas.DataFrame(data)
df

       first     second      third
0  [1, 4, 7]  [9, 4, 7]  [3, 4, 6]
1  [8, 3, 5]  [6, 3, 5]  [8, 3, 1]

In [28]:
dfs=pandas.read_excel('SampleData.xlsx')
dfs

,Unnamed: 0,Address,Name,SomeValue,SomeOtherValue,MoreRandomValues,DD1,Idkwhatisthis,Func,Floatingpointnumbers
0,1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
1,2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,3,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,4,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
4,5,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37
5,6,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.0385,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
6,7,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.7000,42.76,6.22,Nunavut,Storage & Organization,NaN
7,8,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.2600,138.14,35.00,Nunavut,Storage & Organization,NaN
8,9,Xerox 198,Dorothy Badders,678,-226.3600,4.98,8.33,Nunavut,Paper,0.38
9,10,Xerox 1980,Neola Schneider,807,-166.8500,4.28,6.18,Nunavut,Paper,0.40
10,11,Advantus Map Pennant Flags and Round Head Tacks,Neola Schneider,807,-14.3300,3.95,2.00,Nunavut,Rubber Bands,0.53
11,12,Holmes HEPA Air Purifier,Carlos Daly,868,134.7200,21.78,5.94,Nunavut,Appliances,0.50
12,13,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.4600,47.98,3.61,Nunavut,Computer Peripherals,0.71
13,14,"Wilson Jones 1"" Hanging DublLock® Ring Binders",Claudia Miner,933,-4.7150,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
14,15,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.9100,39.89,3.04,Nunavut,Office Furnishings,0.53
15,16,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Allen Rosenblatt,998,93.8000,15.74,1.39,Nunavut,Envelopes,0.40
16,17,Hon 4-Shelf Metal Bookcases,Sylvia Foulston,1154,440.7200,100.98,26.22,Nunavut,Bookcases,0.60
17,18,"Lesro Sheffield Collection Coffee Table, End T...",Sylvia Foulston,1154,-481.0410,71.37,69.00,Nunavut,Tables,0.68
18,19,g520,Jim Radford,1344,-11.6820,65.99,5.26,Nunavut,Telephones and Communication,0.59
19,20,LX 788,Jim Radford,1344,313.5780,155.99,8.99,Nunavut,Telephones and Communication,0.58
20,21,Avery 52,Carlos Soltero,1412,26.9200,3.69,0.50,Nunavut,Labels,0.38
21,22,Plymouth Boxed Rubber Bands by Plymouth,Carlos Soltero,1412,-5.7700,4.71,0.70,Nunavut,Rubber Bands,0.80
22,23,"GBC Pre-Punched Binding Paper, Plastic, White,...",Carl Ludwig,1539,-172.8795,15.99,13.18,Nunavut,Binders and Binder Accessories,0.37
23,24,"Maxell 3.5"" DS/HD IBM-Formatted Diskettes, 10/...",Carl Ludwig,1539,-144.5500,4.89,4.93,Nunavut,Computer Peripherals,0.66
24,25,Newell 335,Don Miller,1540,5.7600,2.88,0.70,Nunavut,Pens & Art Supplies,0.56
25,26,SANFORD Liquid Accent™ Tank-Style Highlighters,Annie Cyprus,1702,4.9000,2.84,0.93,Nunavut,Pens & Art Supplies,0.54
26,27,Canon PC940 Copier,Carl Ludwig,1761,-547.6100,449.99,49.00,Nunavut,Copiers and Fax,0.38
27,28,Tenex Personal Project File with Scoop Front D...,Carlos Soltero,1792,-5.4500,13.48,4.51,Nunavut,Storage & Organization,0.59
28,29,Col-Erase® Pencils with Erasers,Grant Carroll,2275,41.6700,6.08,1.17,Nunavut,Pens & Art Supplies,0.56
29,30,"Imation 3.5"" DS/HD IBM Formatted Diskettes, 10...",Don Miller,2277,-46.0300,5.98,4.38,Nunavut,Computer Peripherals,0.75
...,...,...,...,...,...,...,...,...,...,...
69,70,12-1/2 Diameter Round Wall Clock,Dorothy Wardle,6982,52.5600,19.98,10.49,Nunavut,Office Furnishings,0.49
70,71,SAFCO Arco Folding Chair,Grant Carroll,7110,1902.2400,276.20,24.49,Nunavut,Chairs & Chairmats,NaN
71,72,"#10 White Business Envelopes,4 1/8 x 9 1/2",Barry Weirich,7430,353.2000,15.67,1.39,Nunavut,Envelopes,0.38
72,73,3M Office Air Cleaner,Beth Paige,7906,271.7800,25.98,5.37,Nunavut,Appliances,0.50
73,74,"Global Leather and Oak Executive Chair, Black",Sylvia Foulston,8391,-268.3600,300.98,64.73,Nunavut,Chairs & Chairmats,0.56
74,75,Xerox 1936,Nicole Hansen,8419,70.3900,19.98,5.97,Nunavut,Paper,0.38
75,76,Xerox 214,Nicole Hansen,8419,-86.6200,6.48,7.03,Nunavut,Paper,0.37
76,77,Carina Double Wide Media Storage Towers in Nat...,Nicole Hansen,8833,-846.7300,80.98,35.00,Nunavut,Storage & Organization,0.81
77,78,Staples® General Use 3-Ring Binders,Beth Paige,8995,8.0495,1.88,1.49,Nunavut,Binders and Binder Accessories,0.37
78,79,Xerox 1904,Beth Paige,8995,-78.0200,6.48,5.86,Northwest Territories,Paper,0.36
79,80,Luxo Professional Combination Clamp-On Lamps,Beth Paige,8995,737.9400,102.30,21.26,Northwest Territories,Office Furnishings,0.59
80,81,Xerox 217,Beth Paige,8995,-191.2800,6.48,8.19,Northwest Territories,Paper,0.37
81,82,Revere Boxed Rubber Bands by Revere,Beth Paige,8995,-21.4900,1.89,0.76,Northwest Territories,Rubber Bands,0.83
82,83,"Acco Smartsocket™ Table Surge Protector, 6 Col...",Sylvia Foulston,9126,884.0800,62.05,3.99,Northwest Territories,Appliances,0.55
83,84,"Tennsco Snap-Together Open Shelving Units, Sta...",Bryan Davis,9127,-329.4900,279.48,35.00,Northwest Territories,Storage & Organization,0.80
84,85,Hon 4070 Series Pagoda™ Round Back Stacking Ch...,Joy Bell,9509,2825.1500,320.98,58.95,Northwest Territories,Chairs & Chairmats,0.57
85,86,Xerox 1887,Joy Bell,9509,2.1300,18.97,5.21,Northwest Territories,Paper,0.37
86,87,Xerox 1891,Joy Bell,9509,707.1500,48.91,5.81,Northwest Territories,Paper,0.38
87,88,Avery 506,Alan Barnes,9763,75.1300,4.13,0.50,Northwest Territories,Labels,0.39
88,89,Bush Heritage Pine Collection 5-Shelf Bookcase...,Grant Carroll,9927,-270.6300,140.98,53.48,Northwest Territories,Bookcases,0.65
89,90,"Lifetime Advantage™ Folding Chairs, 4/Carton",Grant Carroll,9927,3387.3500,218.08,18.06,Northwest Territories,Chairs & Chairmats,0.57
90,91,Microsoft Natural Multimedia Keyboard,Grant Carroll,9927,-82.1600,50.98,6.50,Northwest Territories,Computer Peripherals,0.73
91,92,"Staples Wirebound Steno Books, 6"" x 9"", 12/Pack",Delfina Latchford,10022,-3.8800,10.14,2.27,Northwest Territories,Paper,0.36
92,93,"GBC Pre-Punched Binding Paper, Plastic, White,...",Don Jones,10437,-191.2220,15.99,13.18,Northwest Territories,Binders and Binder Accessories,0.37
93,94,Bevis Boat-Shaped Conference Table,Doug Bickford,10499,31.2100,262.11,62.74,Northwest Territories,Tables,0.75
94,95,"Linden® 12"" Wall Clock With Oak Frame",Doug Bickford,10535,-44.1400,33.98,19.99,Northwest Territories,Office Furnishings,0.55
95,96,Newell 326,Doug Bickford,10535,-0.7900,1.76,0.70,Northwest Territories,Pens & Art Supplies,0.56
96,97,Prismacolor Color Pencil Set,Jamie Kunitz,10789,76.4200,19.84,4.10,Northwest Territories,Pens & Art Supplies,0.44
97,98,Xerox Blank Computer Paper,Anthony Johnson,10791,93.3600,19.98,5.77,Northwest Territories,Paper,0.38
98,99,600 Series Flip,Ralph Knight,10945,4.2210,95.99,8.99,Northwest Territories,Telephones and Communication,0.57

In [33]:
df=pandas.read_csv('gapminder.tsv',sep='\t')
df

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [34]:
#check header
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [35]:
#check tail
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [36]:
#type of file
type(df)

pandas.core.frame.DataFrame

In [38]:
#shape of that file
df.shape

(1704, 6)

In [39]:
#name of columns
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [41]:
#type of columns
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [42]:
#select specific column
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [43]:
#save the selected sliced data in another object
country_df=df['country'] 
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
#extract